.foot{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    font-family: 'josefin sans',sans-serif;
}

.footLeft,.footRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footCenter{
    flex: 6;
}

.footIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;

}

.footImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.footList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.footSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}

